.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  padding-right: 30px;
}

.body-container {
  border: 1px solid black;
}

.search-container {
  border: 1px solid black;
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 10px;
}
.res-card {
  width: 200px;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
}

.image-style {
  width: 100%;
}
